
body{
    font-family: 'Roboto', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.pointsAdded {
    color: green
}